
*{
    background:rgb(17, 24, 39);
    color: whitesmoke;
}
.bg-btn{
    background-color: rgba(255,255,255,0.1);
}
.bg-btn:hover{
    background-color: rgb(65, 70, 82);
}
.Active{
    background-color: rgb(65, 70, 82);
}

