* {
  background: rgb(17, 24, 39);
  color: whitesmoke;
  box-sizing: border-box;

}

button {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button:hover {
  background-color: whitesmoke;
  color: rgb(17, 24, 39);
}